.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.giua{
  text-align: center;
  margin-top: 50px;
}
.tach1{
  margin: 30px;
  width: 80px;
  height: 40px;
  color: #020b0e;
  background-color: rgb(255, 115, 0);
  border-radius: 10%;
  font-size: 15px;
}
.tach2{
  margin: 30px;
  width: 80px;
  height: 40px;
  color: #220fca;
  background-color: rgb(0, 255, 106);
  border-radius: 10%;
  font-size: 15px;
}
h2{
  margin: 70px;
  display: inline;
  font-size: 20px;
  color: chocolate;
}
input{
  width: 165px;
  height: 30px;
  border-radius: 10%;
  border-width: 3px;
  border-color: crimson;
  font-size: 20px;
  font-weight: bold;
  color: rgb(27, 3, 94);
}
